*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: #F6F6F6;
    width: 350px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}


.p-1{
    margin: 10px 0 10px;
}

.p-2{
    display: flex;
    gap: 5px;
}